/* 
    Created on : 17-dic-2016, 17:33:42
    Author     : Paqui
*/

* {
    margin: 0px; padding: 0px
}
body{
    background-color: #ACFA58;
    width: 60%; 
    border: 2px solid white;
    margin-left: 230px;
    margin-top: 20px;
    font-family: verdana;
    padding-left: 10px;
}
ul, div {
    padding-left: 70px;
    padding-top: 40px;
}
table td {
    border: 1px solid;
    border-collapse: separate;
    width: 150px;
    
}
form {
    margin-left: 50px;
}
#titulo{
    display: block;
    text-align: center;
    padding-top: 30px;
}
#pie{
    display: block;
    height: 50px;
    margin-top: 26%;
    text-align: center;
}

